html, body {
/*	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	*/
}

.header {
	width: 100%;
	text-align: left;
}

.ideas-container {
	
}

.idea-container {
	border-bottom: thin solid black;
}

.idea-common-container {
	margin-top: 15px;
	margin-bottom: 15px;
}

.idea-common-label {
	margin-right: 5px;	
}

.idea-common-content {
	
}

.idea-idea-number-container {
	
}

.idea-idea-number-label {
	
}

.idea-idea-number-content {
	
}

.idea-idea-container {
	
}

.idea-idea-label {
	
}

.idea-idea-content {
	
}

.idea-date-container {
	
}

.idea-date-label {
	
}

.idea-date-content {
	
}

.idea-steal-status-container {
	
}

.idea-steal-status-label {
	
}

.idea-steal-status-content {
	
}

.idea-steal-status-description-container {
	
}

.idea-steal-status-description-label {
	
}

.idea-steal-status-description-content {
	
}

.idea-greatness-container {
	
}

.idea-greatness-label {
	
}

.idea-greatness-content {
	
}

.idea-description-container {
	
}

.idea-description-content {
	
}



.add-idea-question-container {
	margin-top: 15px;
}